<app-add-idea (ideaAdded)="load()"></app-add-idea>

<div class="tabs">

  <button 
    (click)="selectedTab='all'" 
    [class.active]="selectedTab === 'all'">
    All Ideas
  </button>

  <button 
    (click)="selectedTab='my'" 
    [class.active]="selectedTab === 'my'">
    My Ideas
  </button>

</div>

<app-idea-card
  *ngFor="let idea of filteredIdeas"
  [idea]="idea"
  [currentUser]="user"
  [isAdmin]="auth.isAdmin()"
  (liked)="onLike($event)"
  (commented)="onComment($event)"
  (deleted)="onDelete($event)">
</app-idea-card>

