<div class="bg-white p-5 rounded-xl shadow mb-5">

  <h2 class="text-lg font-semibold mb-3">Add Idea</h2>

  <input
    [(ngModel)]="title"
    placeholder="Idea title"
    class="w-full p-2 border rounded-lg mb-3" />

  <textarea
    [(ngModel)]="description"
    placeholder="Description"
    class="w-full p-2 border rounded-lg mb-3">
  </textarea>

  <select [(ngModel)]="category"
    class="w-full p-2 border rounded-lg mb-3">
    <option *ngFor="let c of categories">{{ c }}</option>
  </select>

  <button
    (click)="submit()"
    class="bg-blue-600 text-white px-4 py-2 rounded-lg">
    Submit
  </button>

</div>